<main id="content" class="bg-gray-01">
    <div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10">
        <div class="d-flex flex-wrap flex-md-nowrap mb-6">
            <div class="mr-0 mr-md-auto">
                <h2 class="mb-0 text-heading fs-22 lh-15">Yönetim Paneline Hoşgeldiniz!</h2>
            </div>
            <div>
                <a href="/dashboard/product/add" class="btn btn-primary btn-lg">
                    <span>Emlak Ekle</span>
                    <span class="d-inline-block ml-1 fs-20 lh-1"><svg class="icon icon-add-new">
                            <use xlink:href="#icon-add-new"></use>
                        </svg></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xxl-6 mb-6">
                <div class="card">
                    <div class="card-body row align-items-center px-6 py-7">
                        <div class="col-5">
                            <span
                                class="w-83px h-83 d-flex align-items-center justify-content-center fs-36 badge badge-blue badge-circle">
                                <svg class="icon icon-1">
                                    <use xlink:href="#icon-1"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="col-7 text-center">
                            <p class="fs-42 lh-12 mb-0 counterup" data-start="0" data-end="{{total_product}}" data-decimals="0"
                                data-duration="0" data-separator="">{{total_product}}</p>
                            <p>Toplam Emlak</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-6 mb-6">
                <div class="card">
                    <div class="card-body row align-items-center px-6 py-7">
                        <div class="col-5">
                            <span
                                class="w-83px h-83 d-flex align-items-center justify-content-center fs-36 badge badge-green badge-circle">
                                <svg class="icon icon-2">
                                    <use xlink:href="#icon-2"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="col-7 text-center">
                            <p class="fs-42 lh-12 mb-0 counterup" data-start="0" data-end="{{visitors.visit}}" data-decimals="0"
                                data-duration="0" data-separator="">{{visitors.visit}}</p>
                            <p>Toplam Görüntülenme</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>