<section class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card p-4 text-center shadow">
                    <div class="card-title">
                        <h4>
                            Giriş Yap
                        </h4>
                    </div>
                    <div class="card-body">
                        <form action="/user/login" method="post">
                        {{csrfField}}
                            <div class="row mb-4">
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Kullanıcı Adı" required name="email" autocomplete="off">
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" placeholder="Şifre" required name="password" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-primary" type="submit">
                                        Giriş Yap
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>