<section class="pt-9 pb-10">
    <div class="container">
        <div class="text-center mb-15">
            <img src="/public/images/page-404.jpg" alt="Page 404" class="mb-5">
            <h1 class="fs-30 lh-16 text-dark font-weight-600 mb-5">Oops! Aradığınız Sayfa Bulunamadı.</h1>
        </div>
    </div>
</section>