<div class="px-3 px-lg-6 px-xxl-13 py-5 py-lg-10 my-profile">
    <div class="mb-6">
        <h2 class="mb-0 text-heading fs-22 lh-15">Yeni Emlak Ekle
        </h2>
        <p class="mb-1">Emlaklarınızı eklemeden önce kategori eklemiş olduğunuzdan emin olun.</p>
    </div>
    <div class="collapse-tabs new-property-step">
        <ul class="nav nav-pills border py-2 px-3 mb-6 d-none d-md-flex mb-6" role="tablist">
            <li class="nav-item col">
                <a class="nav-link active bg-transparent shadow-none py-2 font-weight-500 text-center lh-214 d-block"
                    id="description-tab" data-toggle="pill" data-number="1." href="#description" role="tab"
                    aria-controls="description" aria-selected="true"><span class="number">1.</span>
                    Genel Bilgiler</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link bg-transparent shadow-none py-2 font-weight-500 text-center lh-214 d-block"
                    id="media-tab" data-toggle="pill" data-number="2." href="#media" role="tab" aria-controls="media"
                    aria-selected="false"><span class="number">2.</span> Medya</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link bg-transparent shadow-none py-2 font-weight-500 text-center lh-214 d-block"
                    id="location-tab" data-toggle="pill" data-number="3." href="#location" role="tab"
                    aria-controls="location" aria-selected="false"><span class="number">3.</span> Konum</a>
            </li>
            <li class="nav-item col">
                <a class="nav-link bg-transparent shadow-none py-2 font-weight-500 text-center lh-214 d-block"
                    id="detail-tab" data-toggle="pill" data-number="4." href="#detail" role="tab" aria-controls="detail"
                    aria-selected="false"><span class="number">4.</span> Detaylar</a>
            </li>
        </ul>
        <div class="tab-content shadow-none p-0">
            <form action="/dashboard/product/add" method="post" enctype="multipart/form-data" id="product_add_form">
                <div id="collapse-tabs-accordion">
                    <div class="tab-pane tab-pane-parent fade show active px-0" id="description" role="tabpanel"
                        aria-labelledby="description-tab">
                        <div class="card bg-transparent border-0">
                            <div class="card-header d-block d-md-none bg-transparent px-0 py-1 border-bottom-0"
                                id="heading-description">
                                <h5 class="mb-0">
                                    <button class="btn btn-lg collapse-parent btn-block border shadow-none"
                                        data-toggle="collapse" data-number="1." data-target="#description-collapse"
                                        aria-expanded="true" aria-controls="description-collapse">
                                        <span class="number">1.</span> Description
                                    </button>
                                </h5>
                            </div>
                            <div id="description-collapse" class="collapse show collapsible"
                                aria-labelledby="heading-description" data-parent="#collapse-tabs-accordion">
                                <div class="card-body py-4 py-md-0 px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Emlak Açıklaması</h3>
                                                    <p class="card-text mb-5">Emlakla ilgili açıklamalar.</p>
                                                    <div class="form-group">
                                                        <label for="title" class="text-heading">Başlık</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="title" name="title">
                                                    </div>
                                                    <div class="form-group mb-0">
                                                        <label for="description-01"
                                                            class="text-heading">Açıklaması</label>
                                                        <textarea class="form-control border-0" rows="5"
                                                            name="description" id="description-01"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">Emlak
                                                        Kategorisi</h3>
                                                    <p class="card-text mb-5">Emlak kategorisini belirleyin</p>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-12 col-lg-12 col-xxl-12 px-2 mb-4 mb-md-0">
                                                            <div class="form-group mb-0">
                                                                <label for="category"
                                                                    class="text-heading">Kategori</label>
                                                                <select
                                                                    class="form-control border-0 shadow-none form-control-lg selectpicker"
                                                                    title="Select" data-style="btn-lg py-2 h-52"
                                                                    id="category" name="category">
                                                                    {{#each categories}}
                                                                    <option value="{{this.id}}">{{this.name}}
                                                                    </option>
                                                                    {{/each}}
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Emlak Fiyatı</h3>
                                                    <p class="card-text mb-5">Fiyat bilgisini belirtin</p>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="price" class="text-heading">Fiyatı</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="price" name="price_in">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="tax" class="text-heading">Yıllık
                                                                    Vergisi</label>
                                                                <input type="text" name="yearly_tax_rate"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="tax">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="fee" class="text-heading">Aidat
                                                                    Miktarı <span
                                                                        class="text-muted">(aylık)</span></label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="fee" name="association_fee">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="after-price" class="text-heading">Fiyat
                                                                    Etiketinden Sonra
                                                                </label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="after-price" name="after_price_label">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-12 col-lg-12 col-xxl-12 px-2">
                                                            <div class="form-group mb-0">
                                                                <label for="before-price" class="text-heading">Fiyat
                                                                    Etiketinden
                                                                    Önce</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="before-price" name="before_price_label">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">Emlak
                                                        Durumu</h3>
                                                    <p class="card-text mb-5">Emlak durumunu belirtin</p>
                                                    <div class="form-group mb-0">
                                                        <label for="status" class="text-heading">Durum</label>
                                                        <select
                                                            class="form-control border-0 shadow-none form-control-lg selectpicker"
                                                            title="Select" data-style="btn-lg py-2 h-52" id="status"
                                                            name="propert_status">
                                                            <option value="sale">Satılık</option>
                                                            <option value="rent">Kiralık</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right">
                                        <button class="btn btn-lg btn-primary next-button">Sonraki Adım
                                            <span class="d-inline-block ml-2 fs-16"><i
                                                    class="fal fa-long-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab-pane-parent fade px-0" id="media" role="tabpanel"
                        aria-labelledby="media-tab">
                        <div class="card bg-transparent border-0">
                            <div class="card-header d-block d-md-none bg-transparent px-0 py-1 border-bottom-0"
                                id="heading-media">
                                <h5 class="mb-0">
                                    <button class="btn btn-lg collapse-parent btn-block border shadow-none"
                                        data-toggle="collapse" data-number="2." data-target="#media-collapse"
                                        aria-expanded="true" aria-controls="media-collapse">
                                        <span class="number">2.</span> Media
                                    </button>
                                </h5>
                            </div>
                            <div id="media-collapse" class="collapse collapsible" aria-labelledby="heading-media">
                                <div class="card-body py-4 py-md-0 px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">
                                                        Resimler & Fotoğraflar</h3>
                                                    <p class="card-text mb-5">Emlak ile ilgili görselleri
                                                        yükleyin</p>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-12 col-lg-12 col-xxl-12 px-2">
                                                            <div class="form-group mb-md-0">
                                                                <label for="images" class="text-heading">
                                                                    <span class="text-danger" >Sistem güvenliği için en fazla 2 görsel seçebilirsiniz.Daha fazla eklemek için güncelleme penceresine gidin.</label>
                                                                <input type="file" name="propert_images"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="propert_images" multiple>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">Video
                                                    </h3>
                                                    <p class="card-text mb-5">Emlak ile ilgili bideo varsa
                                                        ekleyin.</p>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-12 col-lg-12 col-xxl-12 px-2">
                                                            <div class="form-group mb-md-0">
                                                                <label for="embed-video-id" class="text-heading">Video
                                                                    Url</label>
                                                                <input type="text" name="video"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="embed-video-id">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">3D
                                                        Gösterim Videosu</h3>
                                                    <p class="card-text mb-5">3D Gösterim videosu varsa ekleyin
                                                    </p>
                                                    <div class="form-group mb-0">
                                                        <label for="virtual-tour" class="text-heading">Virtual
                                                            Tour</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="virtual-tour" name="virtual_tour">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="#"
                                            class="btn btn-lg bg-hover-white border rounded-lg mb-3 mr-auto prev-button">
                                            <span class="d-inline-block text-primary mr-2 fs-16"><i
                                                    class="fal fa-long-arrow-left"></i></span>Önceki Adım
                                        </a>
                                        <button class="btn btn-lg btn-primary next-button mb-3">Sonraki Adım
                                            <span class="d-inline-block ml-2 fs-16"><i
                                                    class="fal fa-long-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab-pane-parent fade px-0" id="location" role="tabpanel"
                        aria-labelledby="location-tab">
                        <div class="card bg-transparent border-0">
                            <div class="card-header d-block d-md-none bg-transparent px-0 py-1 border-bottom-0"
                                id="heading-location">
                                <h5 class="mb-0">
                                    <button class="btn btn-block collapse-parent collapsed border shadow-none"
                                        data-toggle="collapse" data-number="3." data-target="#location-collapse"
                                        aria-expanded="true" aria-controls="location-collapse">
                                        <span class="number">3.</span> Location
                                    </button>
                                </h5>
                            </div>
                            <div id="location-collapse" class="collapse collapsible" aria-labelledby="heading-location"
                                data-parent="#collapse-tabs-accordion">
                                <div class="card-body py-4 py-md-0 px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-0 text-heading fs-22 lh-15">Konum
                                                        Ayarları</h3>
                                                    <p class="card-text mb-5">Emlak konumunu ayarlayın.</p>
                                                    <div class="form-group">
                                                        <label for="address" class="text-heading">Adres</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="address" name="address" placeholder="ex: New York, NY">
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="state" class="text-heading">State</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="state" name="state">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="city" class="text-heading">Şehir</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="city" name="city">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="neighborhood"
                                                                    class="text-heading">Mahalle</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="neighborhood" name="neighborhood">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group">
                                                                <label for="zip" class="text-heading">Zip</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="zip" name="zip">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-md-0">
                                                        <label for="country" class="text-heading">Ülke
                                                        </label>
                                                        <select
                                                            class="form-control border-0 shadow-none form-control-lg selectpicker"
                                                            title="Select" data-style="btn-lg py-2 h-52" id="country"
                                                            name="country">
                                                            <option value="">Kıbrıs</option>
                                                            <option value="">Türkiye</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card mb-6">
                                                <div class="card-body p-6">
                                                    <h3 class="card-title mb-6 text-heading fs-22 lh-15">
                                                        Haritayı Ayarlayın</h3>
                                                    <p>
                                                        Koordinatlar vermiş olduğunuz adres için otomatik olarak
                                                        belirlenecektir. Güncelleme penceresinden koordinatları
                                                        düzenleyebilirsiniz.
                                                    </p>
                                                    <div id="map" class="mapbox-gl map-point-animate mb-6"
                                                        style="height: 296px"
                                                        data-mapbox-access-token="pk.eyJ1Ijoia2FyYWRlbml6ZW1pcnIiLCJhIjoiY2xuMzV1b2JiMGZvaDJtcGhreW84M3g1eCJ9.5FVjNkAnoYGLQdCKELBilA"
                                                        data-mapbox-options='{"center":[-73.981566, 40.739011],"setLngLat":[-73.981566, 40.739011]}'
                                                        data-mapbox-marker='[{"position":[-73.981566, 40.739011],"className":"marker","backgroundImage":"images/googlle-market-01.png","backgroundRepeat":"no-repeat","width":"32px","height":"40px"}]'>
                                                    </div>
                                                    <div class="form-row mx-n2">
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group mb-md-0">
                                                                <label for="latitude" class="text-heading">Enlem
                                                                </label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="latitude" name="latitude">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-lg-12 col-xxl-6 px-2">
                                                            <div class="form-group mb-md-0">
                                                                <label for="longitude"
                                                                    class="text-heading">Boylam</label>
                                                                <input type="text"
                                                                    class="form-control form-control-lg border-0"
                                                                    id="longitude" name="longitude">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="#"
                                            class="btn btn-lg bg-hover-white border rounded-lg mb-3 mr-auto prev-button">
                                            <span class="d-inline-block text-primary mr-2 fs-16"><i
                                                    class="fal fa-long-arrow-left"></i></span>Önceki Adım
                                        </a>
                                        <button class="btn btn-lg btn-primary next-button mb-3">Sonraki Adım
                                            <span class="d-inline-block ml-2 fs-16"><i
                                                    class="fal fa-long-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane tab-pane-parent fade px-0" id="detail" role="tabpanel"
                        aria-labelledby="detail-tab">
                        <div class="card bg-transparent border-0">
                            <div class="card-header d-block d-md-none bg-transparent px-0 py-1 border-bottom-0"
                                id="heading-detail">
                                <h5 class="mb-0">
                                    <button class="btn btn-block collapse-parent collapsed border shadow-none"
                                        data-toggle="collapse" data-number="4." data-target="#detail-collapse"
                                        aria-expanded="true" aria-controls="detail-collapse">
                                        <span class="number">4.</span> Detail
                                    </button>
                                </h5>
                            </div>
                            <div id="detail-collapse" class="collapse collapsible" aria-labelledby="heading-detail"
                                data-parent="#collapse-tabs-accordion">
                                <div class="card-body py-4 py-md-0 px-0">
                                    <div class="card mb-6">
                                        <div class="card-body p-6">
                                            <h3 class="card-title mb-0 text-heading fs-22 lh-15">Emlak Detayları
                                            </h3>
                                            <p class="card-text mb-5">Emlak detaylarını belirtin</p>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="size-in-ft" class="text-heading">Boyutu</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="size-in-ft" name="size_in_ft">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="lot-size-in-ft" class="text-heading">Odaların
                                                            Büyüklüğü</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="lot-size-in-ft" name="lot_size_in_ft">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="room" class="text-heading">Oda
                                                            Sayısı</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="room" name="rooms">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="bedrooms" class="text-heading">Yatak
                                                            Odası</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="bedrooms" name="bedrooms">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="bathrooms" class="text-heading">Banyo</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="bathrooms" name="bathrooms">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="customID" class="text-heading">Özel ID
                                                            <span class="text-muted">(text)</span></label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="customID" name="custom_id">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="garages" class="text-heading">Garaj
                                                            Sayısı</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="garages" name="garages">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="garage-size" class="text-heading">Garaj
                                                            Büyüklüğü</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="garage-size" name="garage_size">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="year-built" class="text-heading">Yapım
                                                            Yılı</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="year-built" name="year_built">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="available-from" class="text-heading">Müsait
                                                            Olacağı Tarih
                                                            <span class="text-muted">(tarih)</span></label>
                                                        <input type="date" class="form-control form-control-lg border-0"
                                                            id="available-from" name="available_from">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="basement" class="text-heading">Bodrum
                                                            Sayısı</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="basement" name="basement">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="extra-details" class="text-heading">Diğer
                                                            Detaylar</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="extra-details" name="extra_details">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="roofing" class="text-heading">Çatı
                                                            Kaplama</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="roofing" name="roofing">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="exterior-material" class="text-heading">Dış
                                                            Malzeme</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="exterior-material" name="exterior_material">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="form-group">
                                                        <label for="structure-type" class="text-heading">Yapı
                                                            Malzemesi</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="structure_type" name="structure_type">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-0">
                                                        <label for="owner" class="text-heading">Not</label>
                                                        <textarea class="form-control border-0" id="owner"
                                                            name="agent_nots"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-12">
                                        <div class="card-body p-6">
                                            <h3 class="card-title mb-0 text-heading fs-22 lh-15">Isınma Tipi
                                            </h3>
                                            <p class="card-text mb-5">Binanın Isınma Tipini Belirtin</p>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group mb-lg-0">
                                                        <label for="energy-class" class="text-heading">Isınma
                                                            Tipi</label>
                                                        <input type="text" class="form-control form-control-lg border-0"
                                                            id="structure_type" name="energy_type">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-wrap">
                                        <a href="#"
                                            class="btn btn-lg bg-hover-white border rounded-lg mb-3 mr-auto prev-button">
                                            <span class="d-inline-block text-primary mr-2 fs-16"><i
                                                    class="fal fa-long-arrow-left"></i></span>Prev step
                                        </a>
                                        <button class="btn btn-lg btn-primary submit-button mb-3" type="submit">Oluştur
                                            <span class="d-inline-block ml-2 fs-16"><i
                                                    class="fal fa-long-arrow-right"></i></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#address').on('input', function () {
            var address = $('#address').val()
            var accessToken = "pk.eyJ1Ijoia2FyYWRlbml6ZW1pcnIiLCJhIjoiY2xuMzV1b2JiMGZvaDJtcGhreW84M3g1eCJ9.5FVjNkAnoYGLQdCKELBilA";
            var geocodingUrl = `https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(address)}.json?access_token=${accessToken}`;

            $.ajax({
                method: 'GET',
                url: geocodingUrl,
                dataType: "json",
                success: function (data) {
                    if (data.features.length > 0) {
                        var coordinates = data.features[0].center;
                        var latitude = coordinates[1];
                        var longitude = coordinates[0];
                        $('#latitude').val(latitude);
                        $('#longitude').val(longitude);
                    } else {
                        console.log('No result found for the address')
                    }
                },
                error: function (err) {
                    console.log('No result found for the address')
                }
            })
        })
    })
</script>